body {
	background-color: #073407;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
h1 {
	color: #6d0b0d;
	font-size: 46px;
}
#countdown {
	font-size: 36px;
	margin-top: 20px;
	color: #6d0b0d;
}
